---
# Source: k8s-monitoring/charts/alloy-operator/templates/rbac/alloy-manager.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k8s-monitoring-alloy-operator-alloy-manager
  labels:
    helm.sh/chart: alloy-operator-0.4.1
    app.kubernetes.io/name: alloy-operator
    app.kubernetes.io/instance: k8s-monitoring
    app.kubernetes.io/version: "1.5.2"
    app.kubernetes.io/managed-by: Helm
rules:
  - apiGroups:
      - collectors.grafana.com
    resources:
      - alloys
      - alloys/status
      - alloys/finalizers
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
# Source: k8s-monitoring/charts/alloy-operator/templates/rbac/alloy-manager.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-monitoring-alloy-operator-alloy-manager
  labels:
    helm.sh/chart: alloy-operator-0.4.1
    app.kubernetes.io/name: alloy-operator
    app.kubernetes.io/instance: k8s-monitoring
    app.kubernetes.io/version: "1.5.2"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-monitoring-alloy-operator-alloy-manager
subjects:
  - kind: ServiceAccount
    name: k8s-monitoring-alloy-operator
    namespace: monitoring
