name: kubernetes/oci/compute/cluster - Deployment validation
run-name: |
  kubernetes/oci/compute/cluster - Validate `${{ github.event.head_commit.message }}`

on:
  push:
    paths:
      - kubernetes/oci/compute/cluster/**

jobs:
  validate-manifests:
    name: Validate ${{ github.event.head_commit.message }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Set up helm
        uses: azure/setup-helm@v4

      - name: Build all manifests
        run: |
          ./kubernetes/oci/compute/cluster/build-local-manifests.sh

      - name: Validate Kubernetes manifests
        uses: docker://ghcr.io/yannh/kubeconform:latest
        with:
          entrypoint: "/kubeconform"
          args: >-
            -summary
            -output pretty
            -schema-location default
            -schema-location https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/{{.Group}}/{{.ResourceKind}}_{{.ResourceAPIVersion}}.json
            -skip CustomResourceDefinition,Alloy,Plan,HelmChartConfig
            ./manifests
