name: kubernetes/oci/compute/cluster - Deployment validation
run-name: |
  kubernetes/oci/compute/cluster - Validate `${{ github.event.pull_request.title || github.event.head_commit.message || github.ref_name }}`

on:
  push:
    branches:
      - main
    paths:
      - kubernetes/oci/compute/cluster/**
      - .github/workflows/kubernetes_oci_compute_cluster_deployment_validation.yaml
  pull_request:
    branches:
      - main
    paths:
      - kubernetes/oci/compute/cluster/**
      - .github/workflows/kubernetes_oci_compute_cluster_deployment_validation.yaml

jobs:
  validate-manifests:
    name: Validate ${{ github.event.pull_request.title || github.event.head_commit.message || github.ref_name }}

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build and validate ArgoCD Manifests
        uses: nasus20202/argocd-validate-action@v3
        with:
          apps-dir: "kubernetes/oci/compute/cluster/argocd-apps"
          state-dir: "kubernetes/oci/compute/cluster/.argocd-state"
          skip-resources: "CustomResourceDefinition,Alloy,Plan,HelmChartConfig"
          comment-on-pr: "true"
          commit-state: ${{ github.event_name == 'push' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
