name: kubernetes/oci/compute/cluster - Deployment validation
run-name: |
  kubernetes/oci/compute/cluster - Validate `${{ github.event.head_commit.message }}`

on:
  push:
    paths:
      - kubernetes/oci/compute/cluster/**

jobs:
  validate-manifests:
    name: Validate ${{ github.event.head_commit.message }}

    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Build and validate ArgoCD Manifests
        uses: nasus20202/argocd-validate-action@main
        with:
          apps-dir: "kubernetes/oci/compute/cluster/argocd-apps"
          base-path: "kubernetes/oci/compute/cluster"
          skip-resources: "CustomResourceDefinition,Alloy,Plan,HelmChartConfig"
          state-dir: ".argocd-state"
          comment-on-pr: "true"
          commit-state: "true"
          github-token: ${{ secrets.GITHUB_TOKEN }}
