global:
  domain: argocd.nasus.dev

server:
  insecure: true
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    extraTls:
      - hosts:
          - argocd.nasus.dev
        secretName: argocd-server-tls
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 200Mi

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 75m
      memory: 500Mi
    limits:
      memory: 1Gi

dex:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 200Mi

repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 20m
      memory: 200Mi
    limits:
      memory: 400Mi

notifications:
  enabled: true
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
    limits:
      memory: 100Mi

applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
    limits:
      memory: 100Mi

redis:
  resources:
    requests:
      cpu: 10m
      memory: 30Mi
    limits:
      memory: 60Mi

configs:
  params:
    server.insecure: true
  cm:
    accounts.nasus: login
  rbac:
    policy.default: role:user
    policy.csv: |
      p, role:user, applications, get, *, allow
      p, role:user, applications, sync, *, allow
      p, role:user, applicationsets, get, *, allow
      p, role:user, clusters, get, *, allow
      p, role:user, repositories, get, *, allow
      p, role:user, logs, get, *, allow
      g, admin, role:admin
