grafana:
  persistence:
    enabled: true
    size: 1Gi
    accessModes: ["ReadWriteOnce"]
  deploymentStrategy:
    type: Recreate
    rollingUpdate: null
  sidecar:
    datasources:
      # skipReload: true
      # initDatasources: true
      exemplarTraceIdDestinations:
        datasourceUid: tempo
        traceIdLabelName: traceID
  additionalDataSources:
    - name: Loki
      uid: loki
      access: proxy
      isDefault: false
      orgId: 1
      type: loki
      url: http://loki:3100
      version: 1
      jsonData:
        derivedFields:
          - name: traceID
            matcherRegex: "traceid[\": ]*(\\w+)"
            url: "$${__value.raw}"
            datasourceUid: Tempo
          - name: traceid
            matcherRegex: traceid
            matcherType: label
            url: "$${__value.raw}"
            datasourceUid: Tempo
    - name: Tempo
      uid: tempo
      isDefault: false
      orgId: 1
      type: tempo
      access: proxy
      url: http://tempo:3200
      version: 2
      jsonData:
        tracesToMetrics:
          datasourceUid: prometheus
        serviceMap:
          datasourceUid: prometheus
        tracesToLogsV2:
          datasourceUid: loki
          spanStartTimeShift: -10m
          spanEndTimeShift: 10m
          tags: []
          filterByTraceID: true
          filterBySpanID: false
  admin:
    existingSecret: prometheus-grafana # This should be disabled during initial setup to allow generation of admin password (or create the secret beforehand)
  ingress:
    enabled: true
    hosts:
      - grafana.nasus.dev
    tls:
      - secretName: grafana-general-tls
        hosts:
          - grafana.nasus.dev
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
  grafana.ini:
    server:
      root_url: https://grafana.nasus.dev
  resources:
    requests:
      cpu: 20m
      memory: 300Mi
    limits:
      memory: 600Mi

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
    retention: 7d
    retentionSize: 8.5GiB
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    enableRemoteWriteReceiver: true
    additionalArgs:
      - name: enable-feature
        value: native-histograms
    maximumStartupDurationSeconds: 300
    resources:
      requests:
        cpu: 150m
        memory: 1Gi
      limits:
        cpu: 500m
        memory: 2Gi

kube-state-metrics:
  resources:
    requests:
      cpu: 10m
      memory: 125Mi
    limits:
      memory: 250Mi

prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
      memory: 30Mi
    limits:
      memory: 60Mi
