tempo:
  retention: 168h
  storage:
    trace:
      backend: local
  metricsGenerator:
    enabled: true
    remoteWriteUrl: http://prometheus-kube-prometheus-prometheus:9090/api/v1/write
  overrides:
    defaults:
      metrics_generator:
        processors: [service-graphs, span-metrics, local-blocks]
        generate_native_histograms: both
  resources:
    requests:
      cpu: 20m
      memory: 500Mi
    limits:
      cpu: 250m
      memory: 1.5Gi

persistence:
  enabled: true
  size: 1Gi

traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true

distributor:
  config:
    log_received_spans:
      enabled: true
    log_discarded_spans:
      enabled: true

minio:
  enabled: false
